---
import Layout from '../layouts/Layout.astro'
import Contenedor from '../components/contenedor.astro'
---

<Layout title="Directorio">
    <Contenedor>
        <h1>Directorio</h1>
    </Contenedor>
</Layout>   

