--- 
import Layout from '../layouts/Layout.astro'
import Contenedor from '../components/contenedor.astro'
---

<Layout title="Organigrama">
    <Contenedor>
        <h1>Organigrama</h1>
        <img src="/Organigrama.png" alt="Organigrama de la empresa" style="max-width: 100%; height: auto;" />
    </Contenedor>
</Layout>

<style>
  h1 {
    color: #2c3e50;
  }
  p {
    font-size: 1.2em;
  }
</style>